html{
    background-color: rgb(11, 11, 70);
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-top: 50px; 
}

h2{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color: white;
}

.container{
    display: block;
    text-align: center;
    margin-top: 10px;
}

.btn{
    height: 200px;
    width: 200px;
    margin: 30px 30px 30px;
    border: 10px solid black;
    border-radius: 40px;
}

.pressed{
    box-shadow: 0 0 20px whitesmoke;
    background-color: grey;
}


#red{
    background-color: red;
}

#green{
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#blue{
    background-color: blue;
}

.gameOver{
    background-color: red;
    opacity: 0.8;
}